.root {
  background: white;
}
.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 6fr;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: url("/images/backgrounds/bg-hero.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @apply p-8;
}
/* @media only screen and (max-height: 1050px) {
  .hero {
    grid-template-rows: 6fr 5fr;
  }
} */
/* @media only screen and (max-width: 763px) {
  .hero {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 670px) {
  .hero {
    background-size: contain;
    background-repeat: no-repeat;
  }
} */
.hero .intro {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;
  /* background: #2d224c;
  border-radius: 43% 0% 44% 59% / 0% 49% 49% 51%; */
}
.intro h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 99.5%;
  text-align: center;
  color: #ffffff;
  width: 65%;
}
.intro img {
  width: 188px;
  height: 80px;
}
@media only screen and (max-height: 990px) {
  .intro h1 {
    font-weight: 700;
    font-size: 4vh;
    line-height: 99.5%;
    text-align: center;
  }
  .intro img {
    width: 8vh;
    height: 4vh;
    /* aspect-ratio: 188/80; */
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1rem;
}
.item p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 99.5%;
}
.item b {
  color: var(--clr-violet-100);
}
