.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 34px;
  padding-bottom: 30px;
  background: red;
}
.splide {
  height: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.heading {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 99.5%;
  text-align: center;
  color: #ffffff;
}
