.containerLg {
  display: none;
  height: 100%;
}
.containerSm {
  display: flex;
  height: 100%;
  padding-top: 4vh;
}
.root {
  background: red;
}
@media only screen and (min-width: 900px) {
  .containerSm {
    display: none;
  }
  .containerLg {
    display: block;
  }
}
