.root {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background: #d9daf3;
  border-radius: 3px;
  height: 33px;
  padding: 8px 8px;
  align-items: center;
}
.root.past {
  background: #b4b4b4;
}
.root.past .textItems {
  text-decoration: line-through;
}
.textItems {
  @apply flex flex-row gap-2;
}
.circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--clr-red-100);
}
.time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 124%;
  color: #2d224c;
  text-align: left;

  /* width: fit-content; */
  text-overflow: ellipsis;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 124%;
  color: #2d224c;
  width: 80%;
  height: 16px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
