.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  background: var(--clr-violet-100);
  padding: min(49px, 4%) 19px 0 19px;
  box-sizing: border-box;
}
.header {
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 0.5fr 5fr;
  gap: 5px;
}
@media only screen and (max-width: 900px) {
  .header {
    grid-template-columns: 2fr 0.5fr;
  }
}
.dateHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-left: min(60px, 6%);
  margin-right: min(35px, 5%);
  /* margin-top: auto; */
}
.options {
  gap: min(22px, 4%);
  display: flex;
  flex-direction: row;
}
.daysGrid {
  display: grid;
  gap: 3px;
  width: 100%;
  height: calc(100% - 160px);
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
}
.daysGrid div.dateItem {
  /* aspect-ratio: 161/173; */
  /* aspect-ratio: 1.2; */
}
.day {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100.5%;
  /* width: 1.625rem;
  height: 1.625rem; */
  width: fit-content;
  height: fit-content;
  /* aspect-ratio: 1; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.currentDays .day {
  color: #2d224c;
}
.toDay .day {
  background: var(--clr-red-100);
  color: white;
  padding: 3px;
  aspect-ratio: 1;
}
.nextDays .day {
  color: #cccccc;
}
.prevDays .day {
  color: #cccccc;
}
.dateItem {
  padding: 10px 4px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.daysLabels {
  display: grid;

  gap: 3px;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}
.daysLabels p {
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100.5%;
  text-align: center;
  color: #ffffff;
}
