.root {
  display: flex;
  height: auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background: url("/src/assets/details.svg");
  background-size: cover; */
  padding: 0 !important;
  /* gap: 53px; */
}
.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: var(--clr-violet-100);
  margin-bottom: 53px;
  padding-inline: 1.5rem;
}
.header .eventTitle {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 45px;
  width: 100%;
}
.header svg {
  color: white;
}
.header .eventTitle h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 99.5%;
  color: #ffffff;
}
.header .eventTitle h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 99.5%;
  color: #ffffff;
}
.header .eventTitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 99.5%;
  color: #ffffff;
}
.imageDurationRow {
  /* background: red; */
  display: flex;
  flex-direction: row;
  gap: 41px;
  justify-content: center;
  @apply px-6;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: 10%;
}
.image img {
  width: 132px;
  height: 132px;
}
.image p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 99.5%;
  text-align: center;
  width: fit-content;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.detail h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 99.5%;
}
.detail p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 99.5%;
}

.material {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.material > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 99.5%;
  text-align: center;
}
.material ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.material li {
  /* display: flex;
  flex-direction:g; */
  display: grid;
  grid-template-columns: 0.5fr auto;
  gap: 4px;
}
.material a {
  text-decoration: underline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 99.5%;
}
.button {
  height: 59px;
  width: 100%;
  background: var(--clr-red-100);
  border-radius: 11px;
  color: white;
  margin-top: 33px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.root[data-past="true"] .detail p {
  color: var(--clr-violet-300);
}
.root[data-past="true"] .button {
  background: var(--clr-violet-300);
}
