.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 24px;
  @apply px-2 md:px-6 pt-4;
  height: 100%;
  background: white;
  flex: 1 1 15%;
  gap: 16px;
}
.root li:first-of-type {
  margin-top: auto;
}
.label {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 99.5%;
  color: #d4145a;
  text-transform: uppercase;
  margin-top: min(63px, 15%);
  margin-bottom: min(12px, 15%);
  /* @apply hidden md:block; */
}
.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 20px;
  color: var(--clr-violet-100);
  height: 33px;
  border-radius: 4px;
  padding: 3px 10px;
}
.item.active {
  background: #d9daf3;
  color: var(--clr-red-100);
  grid-template-columns: 1fr 6fr 0.5fr;
}
.item:hover {
  color: var(--clr-violet-200);
}
.item svg {
  color: currentColor;
}
.item p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 99.5%;
  color: currentColor;
  text-transform: capitalize;
}
.signOut {
  margin-top: auto;
  margin-bottom: 15%;
}
.button {
  margin-left: auto;
  display: none;
}

@media only screen and (max-width: 763px) {
  .root {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    padding: 6vh min(5vw, 60px);
    max-width: 0;
    transform: scaleX(0);
    transition: all 200ms;
    transform-origin: left;
  }
  .root.active {
    max-width: 100%;
    transform: scaleX(1);
  }
  .root li {
    width: 60%;
  }
  .label,
  .item p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 20px;
    line-height: 99.5%;
  }
  .button {
    margin-left: auto;
    display: block;
  }
  .label {
    text-align: center;
    /* font-family: 'Poppins';
font-style: normal; */
    font-weight: 600;
  }
  .item p {
    font-weight: 400;
  }
}
