.cal-p {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.cal-c {
  position: relative;
  overflow: scroll;
  flex: 1;
}
.cal-c {
  scrollbar-width: none;
}
.cal-c::-webkit-scrollbar {
  display: none;
}
.cal-h {
  display: flex;
}
.cal-h > div {
  padding: 10px;
  flex: 1;
  text-align: center;
  color: #fff;
  background: #111;
}
.cal {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}
/* row */
.cal-i {
  text-align: center;
  display: flex;
  color: #fff;
  user-select: none;
  height: 60px;
}
.cal-dat {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cal-dat.block {
  pointer-events: none;
}
.cal-dat.block .c-d {
  background: #ccc !important;
}
.cal-ttl {
  padding: 10px;
}
.cal-dat .c-d {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 2rem;
}
.odd .cal-dat:not(.idl):not(.lit) {
  background: #181818;
}
.cal-dat.odd:not(.idl):not(.lit) {
  background: #181818;
}
.odd .cal-dat.odd:not(.idl):not(.lit) {
  background: transparent;
}
.cal-dat.idl .c-d {
  background: #333;
  color: #fff;
}
.cal-dat.lit .c-d {
  background: #fff;
  color: #555;
}
.c-d.hg {
  animation: 1s highlight;
}
@keyframes highlight {
  from {
    background: rgb(243 208 24 / 14%);
  }
  to {
    background: transparent;
  }
}
.gridItem {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 1rem;
}
