.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  background: var(--clr-violet-100);
  box-sizing: border-box;
}
.calendar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  background: var(--clr-violet-100);
  /* padding-top: min(49px, 4%) 19px 0 19px; */
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  position: sticky;
}
@media only screen and (max-width: 900px) {
  .header {
    grid-template-columns: 2fr 0.5fr;
  }
}
.dateHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 99.5%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-left: auto;
  /* margin-top: auto; */
}
.options {
  gap: min(22px, 4%);
  display: flex;
  flex-direction: row;
}
.daysGrid {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 18px;
}
.daysGrid div.dateItem {
  /* aspect-ratio: 161/173; */
  /* aspect-ratio: 1.2; */
}
.day {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 100.5%;
  text-align: center;
  margin: 0 auto;
}

.currentDays .day {
  color: #ffffff;
}
.toDay .day {
  color: var(--clr-red-100);
}
.nextDays .day {
  color: #cccccc;
}
.prevDays .day {
  color: #cccccc;
}
.dateItem {
  /* padding: 10px 4px; */
  /* background: #ffffff; */
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  width: 100%;
  position: relative;
}

.daysLabels {
  display: grid;
  gap: 3px;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}
.daysLabels p {
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100.5%;
  text-align: center;
  color: #ffffff;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 50%;
}
.gridItem {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 1rem;
}

.gridItem[data-todaytarget="true"] p {
  color: var(--clr-red-100);
}
.observerBox {
  background: var(--clr-violet-100);
  display: flex;
}
/* .observerBox > div {
  display: none;
}
.observerBox > div:last-of-type {
  display: flex;
} */
.observerBox button {
  display: flex !important;
}
