/* .hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 6fr;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background: url("/images/backgrounds/bg-hero.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @apply p-8;
}
@media only screen and (max-height: 1050px) {
  .hero {
    grid-template-rows: 6fr 5fr;
  }
}
@media only screen and (max-width: 763px) {
  .hero {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 670px) {
  .hero {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.hero .intro {
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.intro h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 99.5%;
  text-align: center;
  color: #ffffff;
  width: 65%;
}
.intro img {
  width: 188px;
  height: 80px;
}
@media only screen and (max-height: 990px) {
  .intro h1 {
    font-weight: 700;
    font-size: 4vh;
    line-height: 99.5%;
    text-align: center;
  }
  .intro img {
    width: 8vh;
    height: 4vh;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1rem;
}
.item p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 99.5%;
}
.item b {
  color: var(--clr-violet-100);
} */
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.hero .introBg {
  width: 100%;
  object-fit: 100%;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
.hero .intro {
  position: relative;
  height: 35vh;
  min-height: 434;
  /* display: flex; */
}
.intro .text-box {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 29px;
}
.text-box img {
  width: 100px;
  height: 36px;
  object-fit: contain;
  object-position: center;
}
.text-box h1 {
  position: relative;
  z-index: 2;
  font-size: 36px;
  color: white;
  line-height: 99.5%;
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding-left: 32px; */
}
.item.item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1rem;
}
.item p {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 99.5%;
}
.item b {
  color: var(--clr-violet-100);
}
.form {
  padding: 36px min(32px, 2vw);
  background: #d9daf3;
}
.astroMobile {
  /* float: right; */
  position: absolute;
  right: 0;
  z-index: 3;
}

@media only screen and (min-width: 600px) {
  .hero .intro {
    position: relative;
    aspect-ratio: 1024 / 360;
    height: auto;
    max-height: 260px;
    /* display: flex; */
  }
  .form {
    padding: 36px min(32px, 2vw);
    background: #d9daf3;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .form .quickReg {
    max-width: 454px;
  }
}
