.root {
  display: flex;
  margin: 46px 40px 10px 40px;
  /* background: red; */
  height: auto;
  flex-direction: column;
  /* gap: 53px; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* background: rebeccapurple; */
  justify-content: space-between;
  color: var(--clr-violet-100);
  margin-bottom: 53px;
}
.header .eventTitle {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.header .eventTitle h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 99.5%;
}
.header .eventTitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 99.5%;
}
.header .image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 10%;
}
.header .image p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 99.5%;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.detail h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 99.5%;
}
.detail p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 99.5%;
  color: var(--clr-red-100);
}

.material {
  display: grid;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  grid-template-columns: 4fr 8fr;
}
.material p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 99.5%;
}
.material ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.material a {
  text-decoration: underline;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 99.5%;
}
.button {
  height: 59px;
  width: 100%;
  background: var(--clr-red-100);
  border-radius: 11px;
  color: white;
  margin-top: 33px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.root[data-past="true"] .detail p {
  color: var(--clr-violet-300);
}
.root[data-past="true"] .button {
  background: var(--clr-violet-300);
}
