/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
:root {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --clr-red-100: #d4145a;
  --clr-violet-100: #2d224c;
  --clr-violet-200: #d9daf3;
  --clr-violet-300: #8065c9;
  --clr-green-100: #74dfac;
  --clr-green-200: #31602a;
}
body {
  color: #2d224c;
  background: white;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  button {
    background: none;
    border-radius: 7px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 99.5%;
  }
  input:focus {
    outline: none;
  }
}
@layer components {
  .select-standard,
  .select-standard option,
  .textfield-standard {
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--clr-violet-300);
    padding-bottom: 4px;
    padding-left: 4px;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 99.5%;
  }
  .select-standard,
  .select-standard option,
  .textfield-standard,
  .textfield-standard::placeholder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    max-width: 573px;
    font-size: 32px;
    color: var(--clr-violet-300);
    @apply text-2xl lg:text-[32px];
  }
  .tel {
    background-color: none;
  }
  .label-standard {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  .btn-violet {
    border-radius: 7px;
    background: var(--clr-violet-200);
    color: var(--clr-violet-100);
  }
  .btn-green {
    border-radius: 7px;
    background: var(--clr-green-100);
    color: var(--clr-green-200);
  }
  .select-violet {
    border-radius: 7px;
    background: var(--clr-violet-200);
    color: var(--clr-violet-100);
    border-radius: 7px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 99.5%;
    /* background-image: none; */
  }

  .btn-sm {
    padding: 5px 20px;
  }
  .btn-sm {
    padding: 5px 20px;
  }
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100vw;
  height: 100vw;
}
.modal {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: calc(50vh - 217px);
  left: calc(50vw - 331px);
  /* background: red; */
  width: fit-content;
  height: fit-content;
}
.modal:focus-visible {
  outline: none !important;
}
.modalContent {
  width: 662px;
  height: 434px;
  background: #ffffff;
  border-radius: 19px;
}
