@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), url(/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins"), url(/Poppins/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url(/Poppins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url(/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins"), url(/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  src: local("DM Sans"),
    url(/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
}
