.root {
}
.bar {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 80px;
  align-items: center;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 270px;
}
.list li:nth-child(odd) {
  background: var(--clr-violet-200);
}
.megaText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.megaText h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: var(--clr-violet-300);
}
.megaText p {
  color: #241337;
  font-weight: 700;
  font-size: 28px;
  line-height: 139%;
  text-align: end;
}
.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 139%;
}
